/abrt/
/autostart/
/BraveSoftware/
/dconf/
/enchant/
/evolution/
/gnome-session/
/goa-1.0/
/google-chrome/
/gtk-3.0/
/gtk-4.0/
/ibus/
/JetBrains/
/libreoffice/
/nautilus/
/neofetch/
/pulse/
/totem/
/VirtualBox/
/coc/
*.list
gnome-initial-setup-done
QtProject.conf
user-dirs.dirs
user-dirs.locale
.gsd-keyboard.settings-ported
